.big {
    display: flex;
    height: 60vh;
    justify-content: center;
    flex-flow: wrap row;
    padding: 10px;
}

.small {
    display: inline-block;
    width: 35%;
    height: 50%;
    margin-right: 5%;
    margin-left: 5%;
}

@media only screen and (max-width: 780px) {
    .small {
        margin-bottom: 5px;
        display: block;
        width: 100%;
        height: 30vh;
    }
}

@media only screen and (max-width: 780px) {
    .big {
        min-height: 50vh;
    }
}

.img-in {
    width: 80%;
    vertical-align: center;
}

.small-img {
    background-image: url('../../assets/images/modern-wooden-house-small.jpg');
    background-position: center center;
    background-size: 90%;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0px 0px 36px -6px rgba(56, 26, 26, 1);
    -moz-box-shadow: 0px 0px 36px -6px rgba(56, 26, 26, 1);
    box-shadow: 0px 0px 36px -6px rgba(56, 26, 26, 1);
}

li {
    font-size: 18px;
    margin-bottom: 5px;
}

.home-page {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.img-wrapper {
    position: relative;
}

.img-outside {
    /*border-top: 1px solid black;*/
    border-radius: 4px;
    max-width: 100%;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.box {
    justify-content: center;
    min-height: 50vh;
    max-width: 70%;
    background-color: rgba(255, 255, 255, 0.9);
    margin: -10% 5% 0%;
    margin-bottom: 0%;
    border-radius: 6px;
    -webkit-box-shadow: 0px -1px 55px -9px rgba(110, 98, 110, 1);
    -moz-box-shadow: 0px -1px 55px -9px rgba(110, 98, 110, 1);
    box-shadow: 0px -1px 55px -9px rgba(110, 98, 110, 1);
    z-index: 100;
    position: relative;
}

@media only screen and (max-width: 780px) {
    .box {
        min-height: 100vh;
    }
}

h1 {
    text-align: center;
    padding-top: 20px;
}

h4 {
    text-align: center;
    padding-bottom: 20px;
}